{% extends "layout.html" %}

{% block content %}
<h1>The Game</h1>
<div class="setup">
    <form id="set_limit_form">
        <input type="number" name="limit" placeholder="Set Limit (seconds)" required>
        <button type="submit">Set Limit</button>
    </form>
    <div>
        <button id="start_button">Start</button>
    </div>
    <div>
        <button id="reset_button">Reset</button>
    </div>
</div>
<hr class="styled-hr">
<div class="clock">
    <div class="player">
        <h2>Player 1</h2>
        <p id="player1_time">{{ game.player1_time }}</p>
    </div>
    <div class="switch">
        <button id="switch_button">Switch</button>
    </div>
    <div class="player">
        <h2>Player 2</h2>
        <p id="player2_time">{{ game.player2_time }}</p>
    </div>
</div>

<div id="winner_message"></div>

<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>

<script>

    document.addEventListener("DOMContentLoaded", () => {
            const socket = io();

            // Listen for timer updates from the server
            socket.on("timer_update", (data) => {
                document.getElementById("player1_time").innerText = `${data.player1_time} s`;
                document.getElementById("player2_time").innerText = `${data.player2_time} s`;
            });

            // Listen for timer updates from the server
            socket.on("winner_update", (data) => {
                if (data.winner === "") {
                    document.getElementById("winner_message").innerText = '';
                }
                else {
                    document.getElementById("winner_message").innerText = `Player ${data.winner} wins!`;
                }
            });

        });

    document.getElementById('start_button').onclick = () => {
        fetch('/start_game', { method: 'POST' });
    };

    document.getElementById('switch_button').onclick = () => {
        fetch('/switch_player', { method: 'POST' });
    };

    document.getElementById('reset_button').onclick = () => {
        fetch('/reset', { method: 'POST' });
    };

    document.getElementById('set_limit_form').onsubmit = async (e) => {
        e.preventDefault();
        const formData = new FormData(e.target);
        await fetch('/set_limit', { method: 'POST', body: formData });
    };

    // do something when the page loads:
    //window.onload = doSomething;
</script>
{% endblock %}
