{% extends "layout.html" %}

{% block content %}
<h1>The Game</h1>
<div class="info">
    The game is simple. The player whose time reaches the limit first loses. The other player wins. The idea is that when you remember the game you visit this application and switch the timer.
</div>
<div class="setup">
    <form id="set_limit_form">
        <input type="number" name="limit" placeholder="Set Limit (seconds)" required>
        <button type="submit" class="limit-button">Set Limit</button>
    </form>
    <div id="limit" class="current-limit">
        <span id="limit_value">{{ game.limit }}</span> s
    </div>
    <div>
        <button id="start_button">Start</button>
    </div>
    <div>
        <button id="reset_button">Reset</button>
    </div>
</div>
<hr class="styled-hr">
<div class="clock">
    <div class="player" id="player1_box">
        <h2>Player 1</h2>
        <p id="player1_time">{{ game.player1_time }}</p>
    </div>
    <div class="switch">
        <button id="switch_button">Switch</button>
    </div>
    <div class="player" id="player2_box">
        <h2>Player 2</h2>
        <p id="player2_time">{{ game.player2_time }}</p>
    </div>
</div>

<div id="winner_message"></div>

<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>

<script>

    document.addEventListener("DOMContentLoaded", () => {
            const socket = io();

            // Listen for timer updates from the server
            socket.on("timer_update", (data) => {
                document.getElementById("player1_time").innerText = `${data.player1_time} s`;
                document.getElementById("player2_time").innerText = `${data.player2_time} s`;

                // conditionally render player 1 or player 2's box's background color green
                if (data.current_player === 0) { // reset to gray
                    document.getElementById("player1_box").style.backgroundColor = "#eaeaea";
                    document.getElementById("player2_box").style.backgroundColor = "#eaeaea";
                } else if (data.current_player === 1) {
                    document.getElementById("player1_box").style.backgroundColor = "#b2f0b2";
                    document.getElementById("player2_box").style.backgroundColor = "#eaeaea";
                } else if (data.current_player === 2) {
                    document.getElementById("player2_box").style.backgroundColor = "#b2f0b2";
                    document.getElementById("player1_box").style.backgroundColor = "#eaeaea";
                }
                
            });

            // Listen for timer updates from the server
            socket.on("winner_update", (data) => {
                if (data.winner === "") {
                    document.getElementById("winner_message").innerText = '';
                }
                else {
                    document.getElementById("winner_message").innerText = `Player ${data.winner} wins!`;
                }
            });

        });

    document.getElementById('start_button').onclick = () => {
        fetch('/start_game', { method: 'POST' });
    };

    document.getElementById('switch_button').onclick = () => {
        fetch('/switch_player', { method: 'POST' });
    };

    document.getElementById('reset_button').onclick = () => {
        fetch('/reset', { method: 'POST' });
    };

    document.getElementById('set_limit_form').onsubmit = async (e) => {
        e.preventDefault();
        const limitValue = document.querySelector('input[name="limit"]').value;
        document.getElementById("limit_value").innerText = limitValue;
        const formData = new FormData(e.target);
        await fetch('/set_limit', { method: 'POST', body: formData });
    };

    // do something when the page loads:
    //window.onload = doSomething;
</script>
{% endblock %}
